:global {
	.inputWrapper {
		perspective: 500px;
	
		.inputBox {
			width: 100%;
			min-height: 56px;
			font-size: 16px;
			border: 1px solid #e5e5e5;
			background: #fff;
			display: flex;
			flex-direction: row;
		
			.inputEl {
				border: none;
				font-size: 16px;
				height: 56px;
				padding: 12px 20px;
				display: flex;
				flex: 1;
	
				&:focus {
					outline: none;
				}
			}
		}

		.filtersList {
			margin: 0;
			list-style: none; 
			display: inline-block;
			padding: 12px 0px 12px 20px;

			li {
				padding: 5px 12px;
				border-radius: 4px;
				background: #efefef;
				height: 32px;
				display: inline-block;
				margin: 3px 5px 3px 0;
			}
		}
	
		.suggestionsList {
			list-style: none;
			width: 100%;
			padding: 20px 0;
			border: 1px solid #e5e9ed;
			position: absolute;
			top: 38px;
			left: -1px;
			z-index: 1;
			background: #f9fafc;
			cursor: pointer;
			max-height: 200px;
			overflow-y: scroll;
		
			box-shadow: 0px 5px 10px -3px rgba(204, 204, 204, 0.66);
			transform: rotateX(-30deg);
			transform-style: preserve-3d;
			transform-origin: 0 -20%;
			opacity: 0;

			-webkit-tap-highlight-color: transparent;
	
			&.active {
				transform: rotateX(0deg);
				transition: transform 0.18s cubic-bezier(.6,.2,.1,1), opacity .15s cubic-bezier(.6,.2,.1,1);
				opacity: 1;
			}

			li {
				height: 38px;
				line-height: 38px;
				padding: 0 20px;
				cursor: pointer;
				font-size: 18px;
				letter-spacing: 0.4px;

				span {
					font-weight: bold;
				}

				&:hover, &.active {
					background: #ececec;
				}

				&:active {
					background: #d4d4d4;
				}
			}
		}	
	}

	.filtersList + .inputEl {
		padding-left: 10px !important;
	}
}
