.header {
  // position: absolute;
  // top: 40px;
  // left: 40px;

  margin-bottom: 30px;

  .headerText {
    font-size: 28px;
    letter-spacing: -1px;
    
    > span {
      font-weight: bold;
    }
  }
}