.footer {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  opacity: 0.64;

  >div {
    margin-right: 15px;
    display: inline-block;

    i {
      font-size: 24px !important;
      border: 1px solid #ccc;
      width: 30px;
      height: 30px;
      line-height: 28px;
      text-align: center;
      border-radius: 4px;
      margin-right: 5px;
    }

    span {
      margin-right: 15px;
      line-height: 20px;
      display: inline-block;
      vertical-align: middle;
      height: 30px;  
      font-weight: bold;
    }

    &.esc i {
      font-size: 10px !important;
      display: inline-block;
      text-transform: none;
      text-decoration: none;
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      line-height: 28px;
      vertical-align: middle;
      margin-top: -10px;
      text-align: center;
    }
  }
}